{% extends "article_list.html" %}

{% block top_content %}
<div style="width:45%; float:left;">
<h2>About</h2>
<p>
The annual SciPy Conferences allows participants from academic, commercial, and governmental organizations to:
</p>
<ul>
<li>showcase their latest Scientific Python projects, </li>
<li>learn from skilled users and developers, and </li>
<li>collaborate on code development. </li>
</ul>
<p>
The conferences generally consists of multiple days of tutorials followed by two-three days of presentations, and concludes with 1-2 days developer sprints on projects of interest to the attendees.
</p>
</div>

<div style="width:45%; float: right;">
<h2>Upcoming</h2>

<h3><a href="https://scipy2024.scipy.org/">SciPy 2024</a></h3>
<p>Tacoma, WA, July 8-14, 2024</p>

</div>


<hr/>

{% endblock %}
